@model IEnumerable<MVC_1stAshish.Models.customer>


@{ }

<table class="table table-bordered">
    <tr>
        <th>
        <td>NAME</td>
        <td>
            EMAIL
        </td>
        </th>

    </tr>
    @foreach (var cust in Model)
    {
        <tr>
            <td>
                @cust.NAME
            </td>
            <td>
                @cust.EMAIL
            </td>


        </tr>
    }
</table>